
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 255, 115);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .4);
    width: 400px;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(167, 188, 50);
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px;
    color: rgb(113, 16, 16);
}

.buttons{

    background-color: lightsalmon;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    align-items: center;
    
}

.btn{
    padding: 10px;
    text-decoration: none;
}

.btn button{
    width: 120px;
    padding: 10px;
    font-size: 20px;

    background-color: lightseagreen;
    border: none;
    border-radius: 10px;

    box-shadow: 0px 6px 10px rgba(0,0,0,.4);
}


.btn button:hover{

    background-color: darkcyan;
    color: white;
    transition: all ease-in-out 300ms;
}

@media (max-width:300px){
    .box{
        width: 235px;
    }

    .title{
        width: 90%;
        font-size: 20px;
    }

    .buttons{
        width: 85%;

    }
}
